.flex-section{
    width: 100%;
    padding: 80PX 0PX;

}
.container{
    width: 1140PX;
    margin: 0 auto;
}

.flex-box{
    border: 5px solid rgb(79, 56, 213);
    height: 60vh;
    display: flex;
    justify-content: right;
    align-items: flex-end ;
}

.box1{
    width: 120px;
    height: 120px;
    background: rgb(3, 158, 247);
    margin: 10px;
    font-size: 50px;
    color: rgb(65, 0, 51);
    text-align: center;
    line-height: 120px;
    box-shadow: 14px 14px 5px 3px rgba(146, 78, 78, 0.69);
    
}
.icons{
    text-align: center;
}

.icons ul {
    margin: 0;
    padding: 0;
}

.icons ul li {
    list-style: none;
    display: inline-block;
    margin: 25px 10px;
    width: 60px;
    height: 60px;
    background: #2e272f;
    line-height: 65px;
    border-radius: 20px 0px;
    transition: 0.5s;

}

.icons ul li a i {
    color: rgb(255, 240, 246);
    font-size: 25px;
}

.icons ul li:hover  {
    background: rgb(233, 106, 227);
    border-radius: 0px 20px;
    transition: 0.5s;
}

.icons ul li:hover .fa {
    color:rgba(52, 59, 57, 0.774) ;
}